* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    background: #EEAECA;
background: linear-gradient(32deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

